<!-- <div class="About-me"> -->
  <div class="blog-title" >
    <h2 >About Me.</h2>
    </div>
    <div class="blog-grid">

<div class="jobrole">
<h2>AR/VR Developer & Web Developer</h2>
<p>
  As an AR/VR Developer, I specialize in creating immersive, interactive digital experiences that bridge the gap between the virtual 
  and real world. My role involves designing and developing applications using augmented reality (AR) and virtual reality (VR)
   technologies, primarily through engines like Unity and tools such as ARCore, ARFoundation and Meta XR SDKs. I work across the entire
    development pipeline—from concept and prototyping to deployment and optimization.
<br><br>
  I build experiences for mobile, headset-based, and web-based platforms, focusing on intuitive user interactions, realistic 3D content,
   spatial awareness, and real-time performance. My work often involves shader programming, gesture/input tracking, face and 
   body tracking, and integrating advanced computer vision or AI features. Whether it's AR face filters, VR training modules, or 
   virtual try-on applications, I strive to push the boundaries of immersive tech to deliver engaging and innovative solutions.
   <br><br>
   In addition to immersive tech, I have hands-on experience in .NET development and a strong foundation in frontend technologies
    including Angular, HTML, CSS, and TypeScript. I also have a working knowledge of database management using SQL Server, allowing me 
    to integrate backend functionality and manage data-driven features within applications.
</p>
</div>

<!-- <div class="description">
  <img src="../../assets/Images/Swati.jpg" alt="Swati's Profile Picture" />
</div> -->

<div class="sign">
  <img src="../../assets/Images/Signature.png" alt="Swati's Signature" />
</div >
   
</div>   
<!-- </div>    -->
    
