
<!-- Login form-->
<div class="maindiv">
  <div class="amazonlogo">
    <img  [routerLink]="['/products']" src="../../assets/PharmaCareImages/navLogo.png" alt="Logo not found"/>
            <span id="dotin">PharmaCare</span>
  </div>
  <div class="subdiv">

  
  <h2>Sign in</h2>
  <p>You don't have an account? <a href="#" [routerLinkActive]="'active'" [routerLink]="['sign-up']" (click)="goToSignUp()">Sign Up</a></p>
  
  
  <form [formGroup]="loginForm" >

    <div class="form-group" [class.error]="loginForm.controls['EmailId'].dirty && loginForm.hasError('required','EmailId')">
      <span class="fa fa-user fa-x"></span>
       <input formControlName="EmailId" type="email" name="EmailId"  placeholder="Email Id">
      </div>
     <small *ngIf="loginForm.controls['EmailId'].dirty && loginForm.hasError('required','EmailId')" style="color: red;">*Usename is required</small>
    
  <div class="form-group" [class.error]="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')">
      <span class="fa fa-lock fa-1x"></span>  
        <input formControlName="Password" [type]="[passType]" name="Password" placeholder="Password" >
    </div>
    <span class="fa {{eyeIcon}} eyeIcon" (click)="hideShowPass()"></span> 
    <small *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')" style="color: red;">*Password is required</small>

    <p><a  routerLink="/forgot-pwd">Forgot Password</a></p>

     <button [disabled]="loginForm.invalid" class="bttn"  (click)="onLogin()" type="submit">LogIn</button>
</form>
 

<hr/>
<p>By creating an account or logging in, you agree to PharmaCare’s <a href="#">Conditions of Use </a> an<a href=""> Privacy Policy.</a></p>
</div>

<div class="bottomdiv">
  <a href="">Conditions of Use</a>
  <a href="">Privacy Notice</a>
  <a href="">Help</a>
<p> © 1996-2024, PharmaCare.com, Inc. or its affiliates </p>
</div>
</div>

 
    