<div class="admin-layout">
  
  <!-- Hamburger icon for mobile -->
  <div class="hamburger" (click)="toggleSidebar()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav class="sidebar" [class.hidden]="isSidebarOpen">
    <ul>
      <li class="logo">
        <img src="../../assets/Images/SwatiLogo2.png" alt="Logo not found" />
      </li>
      <li id="homeicon" routerLink="/portfollio/home"><img src="../../assets/Images/icons8-home-24.png" alt=""><h6>HOME</h6></li>
      <hr>
      <li id="usericon" routerLink="/portfollio/about-me"><img src="../../assets/Images/icons8-user-32.png" alt=""><h6>ABOUT ME</h6></li>
      <hr>
      <li id="resumeicon" routerLink="/portfollio/swati-raykar-resume"><img src="../../assets/Images/icons8-resume-50.png" alt=""><h6>RESUME</h6></li>
      <hr>
      <li id="experienceicon" routerLink="/portfollio/projects"><img src="../../assets/Images/icons8-portfolio-64.png" alt=""><h6>PROJECTS</h6></li>
      <hr>
      <li id="blogicon" routerLink="/portfollio/blogs"><img src="../../assets/Images/icons8-blog-64.png" alt=""><h6>BLOG</h6></li>
      <hr>
      <li id="contacticon" routerLink="/portfolliogit/contact-me"><img src="../../assets/Images/icons8-email-24.png" alt=""><h6>CONTACT</h6></li>
      <hr>
    </ul>
  </nav>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>

</div>
