<hr>
<div class="maindiv">
  <div class="amazonlogo">
    <img src="../../assets/PharmaCareImages/navLogo.png" alt="Logo not found" />
    <span id="dotin">PharmaCare</span>  
  </div>
  <div class="subdiv">

  
  <h2>Create Account</h2>
  <p>Already a Customer?  <a href="#" [routerLinkActive]="'active'" [routerLink]="['login']" (click)="goToSignIn()">Sign in</a></p>
  
  
  <form action="#" method="post" [formGroup]="signUpForm">


    <div class="form-group" [class.error]="signUpForm.controls['PhoneNo'].dirty && signUpForm.hasError('required','PhoneNo')" >
      <span class="fa fa-phone fa-x"></span>
      <input formControlName="PhoneNo" type="number" name="Phone Number" placeholder="Phone number" />
    </div>
    <small *ngIf="signUpForm.controls['PhoneNo'].dirty && signUpForm.hasError('required','PhoneNo')" style="color: red;">*Phone Number is required</small>


    <!-- <label for="name">Name:</label> -->
    <div class="form-group"  [class.error]="signUpForm.controls['Name'].dirty && signUpForm.hasError('required','FirstName')">
      <span class="fa fa-user fa-x"></span>
      <input formControlName="Name" type="text" name="Name" placeholder="Name" />
    </div>
    <small *ngIf="signUpForm.controls['Name'].dirty && signUpForm.hasError('required','Name')" style="color: red;">*Name is required</small>


    <div class="form-group"  [class.error]="signUpForm.controls['Email'].dirty && signUpForm.hasError('required','Email')">
      <span class="fa fa-envelope fa-x"></span>
      <input formControlName="Email" type="email" name="Email" placeholder="eg.abc@gmail.com" />
    </div>
    <small *ngIf="signUpForm.controls['Email'].dirty && signUpForm.hasError('required','Email')" style="color: red;">*Email Id is required</small>


    <div class="form-group"  [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
      <span class="fa fa-lock fa-1x"></span> 
        <input formControlName="password" [type]="[passType]" name="Password" placeholder="password">
    </div>
    <i>(Passwords must be at least 6 characters.)</i>
    <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" style="color: red;">*Password is required</small>
    <span class="fa {{eyeIcon}} eyeIcon" (click)="hideShowPass()"></span> 
    
    
    <div class="form-group"  >
      <label for="usertype">Registation Type:</label>
      <select  [(ngModel)]="selectedOption" placeholder=" Registration type" id="usertype"  formControlName="userType">
        <option value="" disabled selected>Registration types</option>  
        <option  *ngFor="let option1 of options" [value]="option1.value"  >
          {{ option1.label }}
        </option>
      </select>
    </div>
    <!-- <small *ngIf="signUpForm.controls['userType'].dirty && signUpForm.hasError('required','userType')" style="color: red;">*User type is required</small> -->
    
    
    <div class="form-group"  [class.error]="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')">
      <span class="fa fa-user fa-x"></span>
      <input formControlName="address" type="text" name="address" placeholder="address" />
    </div>
    <small *ngIf="signUpForm.controls['address'].dirty && signUpForm.hasError('required','address')" style="color: red;">*address is required</small>
    
    
    
    <p>To verify your number, we will send you a text message with a temporary code. Message and data rates may apply.</p>
  
    <button  (click)="onSignup()" type="submit" class="bttn">SignUp</button>
  </form>
<hr/>
<!-- <p>By creating an account or logging in, you agree to PharmaCare’s <a href="#">Conditions of Use </a> and<a href=""> Privacy Policy.</a></p> -->
</div>

<!-- <div class="bottomdiv">
  <a href="">Conditions of Use</a>
  <a href="">Privacy Notice</a>
  <a href="">Help</a>
<p> © 1996-2024, PharmaCare.com, Inc. or its affiliates </p>
</div> -->
</div>
