<div id="title">
    <h2>
      Follow me on  
      <a href="https://www.youtube.com/@CodetheFutureXR"><img src="../../assets/Images/youtubered.png" alt="YouTube logo"> </a>
      and 
      <a href="https://www.linkedin.com/in/swati-raykar-8b00121bb"><img src="../../assets/Images/linkedin.png" alt="LinkedIn logo"></a>
    </h2>
  </div>
  
  <div class="main" [ngStyle]="{ 'background-image': currentBackground }">
    <div class="typewriter-container">
      <span class="static-text">I am </span>
      <span class="dynamic-text">{{ displayText }}</span>
      <span class="cursor">|</span>
    </div>
  </div>
  