/* src/app/product-details/product-details.component.css */
.products{
    background-color: white;
   
}
#title{
    margin-top: 20px;
    padding: 10px 20px;
}

#empty {
    margin-top:10%;
    margin-left: 40%;
    font-size: large;
}
.scrollable-container{
    max-height: 100vh;
    /* overflow-y: auto; */
  }
.product-details:hover{
    background-color: rgb(253, 254, 255);
    cursor: pointer;
    /* transform: scale(1.02); */
    transition: all 1s ease;
    /* box-shadow: 1px 1px 15px rgb(122, 125, 125);  */
}
.product-details {
    border: 1px solid white;
    padding: 16px;
    width: 92vw;
    margin-left: 20px;
    margin-bottom: 16px;
    background-color: aliceblue;
    display: flex;

  }
  .product-image {
  /* max-width: 100%; */
  height:200px;
  /* margin-bottom: 16px; */
}

#productInfo{
margin-left: 20px;
}
#productInfo img{
    width: 100px;
margin-top: -20px;
} 
#productInfo h2{
font-size: 18px;
} 
#totalBuyers{
    margin-top: -40px;

}
 #productInfo button{
       background-color: rgb(237, 211, 9);
       border: 2px solid rgb(237, 211, 9);
       border-radius: 10px;
       margin-top: 10px;
       padding: 10px 50px;
} 
#productInfo button:hover{
    background-color: rgb(237, 184, 9);
       border: 2px solid rgb(237, 211, 9);
}
#productInfo button:active{
    border: 2px solid rgb(214, 213, 210);
    opacity: 0.9;
} 
#description{
margin-top: -40px;
}
#ratingStars{
    display: flex;
  flex-direction: row;
}
#ratingStars p{
   margin-top: 15px;
   margin-left: 5px;
}
p b{
    font-size: 22px;
}

#tprice b{
    font-size: 18px;
    margin-top: 10px;
}
#tprice {
    margin-top: 10px;
}
#price b{
    font-size: 15px;
    
}




/* customerDetails */

.customerDetails{
    display: flex;
}
.address1{
    margin-left: 30px;
}
Address h6{
font-size: 20px;}
button{
    background-color: rgb(237, 211, 9);
    border: 2px solid rgb(237, 211, 9);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px 50px;
} 
button:hover{
 background-color: rgb(237, 184, 9);
    border: 2px solid rgb(237, 211, 9);
}
 button:active{
 border: 2px solid rgb(214, 213, 210);
 opacity: 0.9;
} 