
<div id="title">
  <h2>Place Order</h2>
</div>
<hr>
<div *ngIf="product" class="scrollable-container">

<div >
<div >
<div class="products"   >
<div class="product-details"  >
  <div id="productImage">
    <img
      [src]="product.imageURL"
      alt="{{ product.name }}"
      class="product-image"
    />
  </div>
  <div id="productInfo">
    <h2>{{ product.name }}</h2>
    <div id="ratingStars">
      <img src="https://static.vecteezy.com/system/resources/previews/017/178/285/original/4-stars-rating-sign-and-symbol-on-transparent-background-free-png.png" alt="">
      <p>{{product.nOofRatings}}</p>
    </div>

      <p  id="totalBuyers">{{product.totalBuyCustomers}}0+ bought in past month</p>

      <!-- <p id="price">Price: <b> RS.{{ p.price  | currency }} </b> M.R.P: <del> {{p.marketPrice}}</del></p> -->
    <p id="price">Price: <b> {{ product.price | currency:'INR':'symbol':'1.2-2' }} </b> M.R.P: <del> {{product.marketPrice}}</del></p>
          <p id="tprice">Total Price: <b> RS.{{ product.totalPrice  | currency:'INR':'symbol':'1.2-2' }} </b> </p>

    <p>FREE delivery <br>Service:Installation
    </p>
    <!-- <button (click)="placeOrder()">Confirm Order</button> -->
  </div>
</div>

<div class="customerDetails">
  <div id="title">
    <h2>Your Address</h2>
  </div>
<hr>
<div class="address1">
  <h4><address> <ng-container *ngIf="userName; else Name1">
    <h6> {{ userName }}</h6>
  </ng-container>
  <ng-template #Name1>
    <h6>User Name</h6>
  </ng-template></address></h4>
  
  <h2>Product will be deliver on</h2>

  <address> <ng-container *ngIf="Uaddress; else Address">
    <h6> {{ Uaddress }}</h6>
  </ng-container>
  <ng-template #Address>
    <h6> Delivery Address</h6>
  </ng-template></address>

  <h3>Cash on delivery</h3>
  
</div>


</div>

</div>
<button >Confirm Order</button>

</div>
</div>
</div>




