/* **************SignUp********************* */
/* signUp style */

.popup{
    width:40vw;
    border: 6px rgb(245, 93, 238) ridge;
    border-radius: 100px 0px;
    background-color:#f0bce1 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center;
    color: #333;
    transition: transform 1s ,top 0.4s;
    visibility: visible;
    opacity: 0.9;
    z-index: 3;
  }
    .opensignUp{
      transform: translate(-50%,-50%) scale(1);
      visibility: visible;
      top: 55%;
  }
  
     h3{
         text-align: center;
     }
     h1{
         text-align: center;
     }
     #para1{
         text-align: center;
         font-size: 38px;
         color: rgb(10, 9, 10);
         font-family: Georgia, 'Times New Roman', 
         Times, serif;
         /* margin: 0px 0px; */
         padding: 6px 14px;
         -webkit-text-stroke:0.2px rgb(246, 249, 250) ;
     }
     #para{
         text-align: center;
         font-size: 15px;
         color: rgb(41, 46, 112);
         font-family: Georgia, 'Times New Roman', 
         Times, serif;
         margin: -11px 0px;
         padding: 16px 14px;
         -webkit-text-stroke:0.2px rgb(201, 138, 243) ;
     }
     small{
      margin-left: -300px;
    }
    .closerst{
      position: absolute;
      background-color: rgb(161, 159, 159);
      padding:5px 6px;
      border: none;
      color: red;
      margin-top: -27px;
      margin-left: 235px;
    }
     
  .bttn{
     display: block;
      width: 220px;
      height: 50px;
      margin:20px auto;
      border:rgb(247, 250, 250) ridge 4px;
      font-size: 18px;
      font-family:Arial, Helvetica, sans-serif;
       background-color: rgb(8, 8, 8);
       color: aliceblue;
  }
  .form-group {
      position: relative;
      font-size:20px;
      -webkit-text-stroke:0.5px rgb(13, 14, 14) ;
  }
  .form-group span{
      display: inline;
      position: absolute;
       margin-top: 10px;
       margin-left: 40px;
       padding-top: -25px;
    }
  .gndr{
     font-size:20px;
     -webkit-text-stroke:0.4px rgb(7, 7, 7) ;
  }
  .inp{
     font-size:15px;
     margin: 10px 0px;
     color: rgb(8, 7, 7);
  }
  .inp input{
  margin-right:12px;
  }
  .form-group input{
      /* position: relative; */
      width: 420px;
      margin: 8px auto;
      /* text-align: center; */
      cursor:text;
      font-size: 15px;
      padding: 5px;
      padding-left: 33px;
      border: #000 2.5px ridge;
      color: rgb(5, 6, 7);
      border-radius: 8px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #fdf8f8;
  }
  .form-group span{
      display: inline;
      position: absolute;
       margin-top: 15px;
       margin-left: 10px;
       /* padding-top: -5px; */
    }
  input[type='email'],input[type='password']{
      border: none;
      outline: none;
      box-shadow: none;
      width: 100%;
    }
    .eyeIcon{
      position: absolute;
      display: inline-block;
      margin-left: 180px;
      margin-top:-30px;
      padding-top:-200px;
      /* cursor:text; */
     }
    
  