<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">      
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
<!-- slideImages -->

<div class="slide first">
  <img src="https://cdn.pixabay.com/photo/2014/09/07/12/08/apothecary-437743_1280.jpg" alt="">
  </div>

     <div class="slide second">
     <img src="https://cdn.pixabay.com/photo/2016/08/05/18/57/medical-1572986_1280.jpg" alt="">
     </div>

     
     <div class="slide third">
     <img src="https://cdn.pixabay.com/photo/2023/09/20/07/37/doctor-8264060_1280.jpg" alt="">
     </div>

     <div class="slide fourth">
     <img src="https://cdn.pixabay.com/photo/2017/03/13/21/41/scientist-2141259_1280.jpg" alt="">       
     </div>
     <!-- Automatic Navigation -->
     <div class="navigation-Auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
     </div>

  </div>
    <!-- Manual Navigation -->
   <div class="navigation-manual"  > 
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
    <label for="radio4" class="manual-btn"></label>

   </div>
 </div>
 <hr>
 
     <!-- Section4 -->
    
         
    <div class="products">

    <div class="FeaturedProducts">
    <h3>Free Shipping</h3>
    <h4>Lorem ipsum dolor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <button>Read More</button>
    </div>

    <div class="FeaturedProducts">
      <h3>Season <br> Sale 50% Off</h3>
      <h4>Lorem ipsum dolor</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      <button>Read More</button>
 
    </div>
      
      <div class="FeaturedProducts">
        <h3>Buy <br> A Gift Card</h3>
        <h4>Lorem ipsum dolor</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <button>Read More</button>

      </div>
      
      </div>
  



<div> 
<!-- Manual Navigation -->
<div class="navigation-manual1"  > 
<label for="radio11" class="manual-btn1" ></label>
<label for="radio12" class="manual-btn1"></label>
</div>
</div>




<div class="productslist" >
<div  >
  <app-products ></app-products>
</div>
</div>





<!-- <app-cards></app-cards> -->
<!-- <app-footer></app-footer> -->